<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @question.body %>
</p>
 <% if current_user && @question.user_id == current_user.id %>
      <td><%= link_to 'Delete', question_path(@question), method: :delete %></td>
   <% end %>
<%= render partial: 'answers/answer', collection: @question.answers %>

<h2>Add a Answer:</h2>
<%= form_for([@question, @question.answers.build]) do |f| %>
  <%= errors_for(@answer) %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>