<div class='question'>
<div id='question_<%= @question.id %>'>
<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @question.body %>
</p>
<p>
  <strong>Attachments:</strong>
  <% @question.attachments.each do |a| %>
     <%= link_to a.file.identifier, a.file.url %>
  <% end %>
</p>
  <% if current_user && current_user.author_of?(@question) %>
    <td><%= link_to 'Delete', question_path(@question), method: :delete %></td>
    <td><%= link_to 'Edit', edit_question_path(@question), remote: true %></td>
  <% end %>
  </div>
  </div>
<div class='answers'>
  <%= render @question.answers %>
</div>

Add a Answer:
<%= form_for([@question, @new_answer], remote: true) do |f| %>
  <%= errors_for(@new_answer) %>
  <p>
    <%= f.label :body %><br>
<div class='answer-errors'>
</div>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.fields_for :attachments do |a| %>
      <%= a.label :file %>
      <%= a.file_field :file %>
    <% end %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
