<div id='answer_<%= answer.id %>'>
	
	<% answer.persisted? %>
  <%= answer.body %>

<% if current_user && current_user.author_of?(answer) %>
  <%= link_to 'Delete', answer_path(answer), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Edit', edit_answer_path(answer), remote: true %>
<% end %>

<% if current_user && current_user.author_of?(answer.question) %>
	<% if answer.best %>
  	Answer is the best
  <% else %>
  	<%= link_to 'Make best', best_answer_path(answer), remote: true, method: :patch %>
  <% end %>
<% end %>

</div>


