<div id='answer_<%= answer.id %>'>
	
	<% answer.persisted? %>
  <%= answer.body %>
    Attachments:
  <% answer.attachments.each do |a| %>
    <div id='attachment_<%= a.id %>'>
    <%= link_to a.file.identifier, a.file.url %>
    <% if current_user && current_user.author_of?(a.attachmentable) %>
      <%= link_to 'del', attachment_path(a), method: :delete, remote: true %>
    </div>
    <% end %>
  <% end %>

<% if current_user && current_user.author_of?(answer) %>
  <%= link_to 'Delete', answer_path(answer), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Edit', edit_answer_path(answer), remote: true %>
<% end %>

<% if current_user && current_user.author_of?(answer.question) %>
	<% if answer.best %>
  	Answer is the best
  <% else %>
  	<%= link_to 'Make best', best_answer_path(answer), remote: true, method: :patch %>
  <% end %>
<% end %>

</div>


